.contact-content-wrapper {
    background-color: #1f2a38;
    padding: 100px 0 80px 0;
    overflow: hidden;
}

.subtitle {
    animation-delay: 0.5s;
    color: #04c2c9;
    font-weight: 600;
    animation: slideInRight 0.75s ease both;
    font-family: inherit !important;
    padding: 0 10px;
    text-align: center;
}

.input {
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 12pt;
    margin-bottom: 4px;
    outline: none;
    padding: 13px 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background: #151e2a;
    border: 0;
    box-shadow: inset 2px 0px 0px 0px #04c2c9;
}

.form {
    min-width: 550px;
    margin: 40px auto 0 auto;
}

.footer {
    background: #1b242f;
    padding: 70px 0 30px 0;
    position: relative;
}

.submit-button {
    border: 2px solid #04c2c9 !important;
    color: #04c2c9 !important;
    border-radius: 0 !important;
    align-self: flex-end;
    padding: 9px 28px !important;
    margin-top: 5px !important;
    font-size: 1rem !important;
}

.submit-button:hover {
    background-color: #04c2c9 !important;
    color: white !important;
}

.media-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon-wrapper {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 0 25px;
    height: 55px;
    width: 55px;
    cursor: pointer;
    transition-duration: 0.3s;
    color: black;
    transition-property: color, background-color, transform;
}
.icon-wrapper:hover {
    background-color: #04c2c9;
    transform: scale(1.05);
}

.arrow-up {
    position: absolute;
    border-radius: 100%;
    background-color: #04c2c9;
    left: calc((100% - 50px) / 2);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -25px;
    color: white;
    cursor: pointer;
}

.arrow-up:hover {
    background-color: #05ced6;
}

.links-wrapper {
    color: #8f9aa7;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links-wrapper a {
    text-decoration: none;
    color: darkgrey;
    padding: 3px;
    font-size: 14px;
}
.links-wrapper a:hover {
    color: whitesmoke;
}
.copyright {
    color: white;
    font-size: 17px;
    text-align: center;
    margin-top: 35px;
}

@media screen and (max-width: 700px) {
    .form {
        min-width: 80vw;
    }
}
