.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: 0;
    outline: 0;
    width: 650px;
    height: 85vh;
    background-color: white;
}
.modal-image-wrapper {
    height: 50%;
}
.modal-text-wrapper {
    padding: 30px 60px 90px 25px;
    border-top: 3px solid #252d32;
}
.modal-arrow {
    background: rgba(0, 0, 0, 0.3);
    bottom: 50%;
    font-weight: bold;
    padding: 10px 15px;
    position: absolute;
    color: white;
    cursor: pointer;
}
.modal-arrow-right {
    right: 0;
}
.modal-arrow-left {
    left: 0;
}
.modal-title {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
}
.modal-subtitle {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #b1b1b1;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}
.modal-description {
    font-size: 15px;
    line-height: 20px;
    margin-top: 15px;
}
.modal-description strong {
    color: #00aeb4;
}
.modal-button {
    position: absolute !important;
    left: 25px;
    bottom: 20px;
    background-color: #04c2c9 !important;
    color: white !important;
    border-radius: 0 !important;
    border: 2px solid transparent !important;
}
.modal-button:hover {
    background-color: white !important;
    border: 2px solid #04c2c9 !important;
    color: #04c2c9 !important;
}
.close-icon {
    position: absolute;
    bottom: 20px;
    right: 25px;
    color: #bbb;
    cursor: pointer;
}
.modal-img {
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 700px) {
    .modal {
        width: 100%;
        height: 100vh;
    }
}
@media screen and (max-width: 700px) {
    .modal-description {
        font-size: 12px;
    }
    .modal-img {
        height: auto;
        max-height: 100%;
    }
    .modal-image-wrapper {
        display: flex;
        align-items: center;
        background-color: #676767;
    }
}
@media screen and (max-height: 700px) {
    .modal-description {
        font-size: 12px;
        line-height: 14px;
    }
    .modal-subtitle {
        font-size: 14px;
    }
    .modal-button {
        font-size: 10px;
    }
}
@media screen and (max-height: 500px) {
    .modal {
        height: 100vh;
    }
}
