@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* common classes that are used globally */

.title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}
.underline {
  background: #fff;
  margin: 25px 0 40px 0;
  width: 110px;
  height: 4px;
}
.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
